body{
    background-color:#cfedce;
}

.menu {
    background-color:whitesmoke
}

.class {

}

.bg-dark {
    background-color: #b6e3b5;
    color: black;
}

nav {
    background-color: #b6e3b5;
    border: 5px solid black;
    font-size: 16px;
}

h2 {
    color: #267481
}

p {
    color:  #595959
}

sec
#id {

}